[submodule "work/fine-tuning_with_custom_dateset_for_whisper"]
	path = work/fine-tuning_with_custom_dateset_for_whisper
	url = https://github.com/R2D2-like/fine-tuning_with_custom_dateset_for_whisper.git
